.footer {
    background-color: rgb(244, 247, 247);
    border-top: 1px solid rgba(56, 182, 255, 255);
    font-family: 'Oswald', 'sans-serif';
    opacity: 1;
    transition: background-color 0.3s ease;

}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    align-items: flex-end;
    margin-bottom: 20px;
}

.info-items {
    transition: transform 0.3s ease-out;

    &:hover {
        transform: scale(1.1);
    }

    
}

.info-items a {
    color: black;
}

.item {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 85px;
    
}


.logo_img {
    border: 1px solid rgba(56, 182, 255, 255);
    border-radius: 50%;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    transition: transform 0.3s ease-out;

    &:hover {
        transform: rotate(360deg);
    }
}

.icons {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tel {
    margin-right: 75px;
}

.slogan {
    font-style: italic;
}

.copyright {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(56, 182, 255, 255);
}
@media (max-width: 1024px) {
.info {
    gap: 40px;
}


}

@media (max-width: 768px) {
    .info {
        gap: 10px;

    }

    .item {
        padding-right: 85px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tel {
        margin-left: 160px;
    }

    
    .info-items {
        margin: 5px;
    }

    .logo_img {
        width: 3rem;
    }

    .icons {
        font-size: 16px;
    }

    .copyright {
        font-size: 15px;
    }

    .info-items:nth-child(3),
    .info-items:last-child {
        margin-bottom: 8px;
    }
}