.slides {
    margin: 50px;
}

.slides-img {
    width: 80%;
    height: 70vh;
    margin: auto;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
}

@media (max-width: 768px) {
    .slides-img {
        width: 100%;
        height: 60%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}